::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #9C27B0;
  border: 0px none green;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6A1B9A;
  width: 10px;
}
::-webkit-scrollbar-thumb:active {
  background: #9C27B0;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none green;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  margin: 50px;
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
[class*=hint--] {
  display: block !important;
  z-index: 99999;
}
.ant-calendar-range-picker-input {
  background-color: transparent;
  border: 0;
  height: 38px;
  outline: 0;
  text-align: center;
}
.ant-calendar-picker {
  font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  outline: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.ant-calendar-picker-input {
  outline: none;
  display: block;
}
.ant-input {
  font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.calendarpicker {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto;
}
.calendarpicker:focus {
  border-color: #FF6F00;
}
.make-space-sizes {
  padding: 0 30px;
}
.make-space-around {
  padding: 15px;
}
